* {
    font-family: 'Merriweather', serif;
    
}

html {
    background-color: purple;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 60%;
}

.passos {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.alinhar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textoPassos {
    text-align: justify;
    
}
.textoPassos{
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .textoPassos {
        font-size: 10px; /* Ajuste o tamanho desejado para telas menores */
    }
    .container{
        width: 100%;
    }
}

.calculo_D div{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3vw;
}

.calculo div{
    font-weight: bold;
}

.esquerda{
    color: purple;
    
}

.direita{
    color: blue;
}

table {
    border-collapse: collapse;
    margin: 5px;
    border-left: 1px solid rgb(100, 98, 98);
    border-right: 1px solid rgb(100, 98, 98);
}

table thead th:nth-child(3) {
    border-right: 1px solid black;
}


table tr td:nth-child(3) {
    border-right: 1px solid black;
}


th {
    border-bottom: 1px solid rgb(100, 98, 98);
}

.tabelaMatriz {
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;
    
}

td{
    font-size: min(16px, 2vw);
}

td,
th {
    padding: 10px;
    border-radius: 12%;
    
}

@keyframes destaque {
    from {
        background-color: white;
    }

    to {
        background-color: purple;
        color: white;
    }
}

@keyframes destaque2 {
    from {
        background-color: white;
    }

    to {
        background-color: rgb(41, 4, 206);
        color: white;
    }
}

#prova,
.resultado {
    text-align: center;
    font-weight: bold;
}

button {
    margin-bottom: 100px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.creditos a {
    color: white;
}

